a p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
    display: inline-block;
    padding: 2px;
    gap: 5px;
    background-color: pink;
    text-decoration: none;
    border-radius: 5px;
}
a p:hover{
 background: linear-gradient(50deg,  pink, rgb(74, 74, 179));
}
table{
    position: relative;
    width: 500px;
    border-collapse: collapse;
}
thead>tr>th{
    position: sticky;
    top: 0;
    background-color: pink;
}
td,th{
    border: 1px solid black;
    padding: 10px;
}

th.scope{
    width: 50px;
}
thead{
    background-color: pink;
    color: rgb(199, 51, 236);
}
tfoot{
    background-color: pink;
    color: rgb(199, 51, 236)
}
caption{
    font-size: medium;
    font-weight: 100;
    padding: 10px;
    background-color: pink;
    color: rgb(199, 51, 236)
}
td.num{
    text-align: right;
}
td.numh{
    text-align: center;
}
tbody>tr:nth-child(2n){
    background-color:  pink;
}
